<ion-content>
  <div class="header-image">
    <ion-button slot="start" (click)="back()">
      <img src="../../../assets/images/back2.svg" alt="">
    </ion-button>
    <ion-button slot="end">
      <img src="../../../assets/images/share.svg" alt="">
    </ion-button>
  </div>
  <swiper #mySlide dir="rtl" [pagination]="{
    type: 'fraction'
  }" [navigation]="false" class="mySwiper">
    <ng-template swiperSlide>
      <img src="../../../assets/images/img_card.png" alt="">
    </ng-template>
    <ng-template swiperSlide>
      <img src="../../../assets/images/img_card1.png" alt="">
    </ng-template>
    <ng-template swiperSlide>
      <img src="../../../assets/images/img_card.png" alt="">
    </ng-template>
    <ng-template swiperSlide>
      <img src="../../../assets/images/img_card1.png" alt="">
    </ng-template>
  </swiper>

  <div class="body_details">
    <div class="title_headbox">
      <h1>شقة مفروشة بحي بغداد</h1>
      <p slot="end">12 يناير 2021</p>
    </div>
    <p class="price">1315 د.ع</p>
    <div class="location">
      <div class="img">
        <img src="../../../assets/images/map_i.svg" alt="">
      </div>
      <div class="content_location">
        <p>الموقع</p>
        <p>بغداد/شارع التحرير</p>
      </div>
      <div class="map">
        <img src="../../../assets/images/map_i.svg" alt="">
      </div>
    </div>
    <div class="options">
      <div class="option">
        <img src="../../../assets/images/size.svg" alt="">
        <div class="content">
          <p>المساحة</p>
          <p>165 م2</p>
        </div>
      </div>
      <div class="option">
        <img src="../../../assets/images/bed.svg" alt="">
        <div class="content">
          <p>الغرف</p>
          <p>4 غرف</p>
        </div>
      </div>
      <div class="option">
        <img src="../../../assets/images/bath_room.svg" alt="">
        <div class="content">
          <p>الحمامات</p>
          <p>2 حمام</p>
        </div>
      </div>
    </div>
    <div class="list">
      <div class="item_box">
        <p class="start">الطابق</p>
        <p class="end">الأول</p>
      </div>
      <div class="item_box">
        <p class="start">التجهيز</p>
        <p class="end">كاملة</p>
      </div>
      <div class="item_box">
        <p class="start">سنة البناء</p>
        <p class="end">2021</p>
      </div>
    </div>
    <div class="description">
      <h6>الوصف</h6>
      <p>شقة مفروشة بحي بغداد...شقة مفروشة بحي بغداد..شقة مفروشة بحي بغداد..شقة مفروشة بحي بغداد..شقة مفروشة بحي
        بغداد.شقة مفروشة بحي بغداد</p>
    </div>
  </div>
</ion-content>
<div class="myFooter">
  <ion-buttons>
    <ion-button>
      <img src="../../../assets/images/msg.svg" alt="">
      مراسلة
    </ion-button>
    <ion-button>
      <img src="../../../assets/images/call.svg" alt="">
      إتصال
    </ion-button>
  </ion-buttons>

</div>
