ion-footer {
  // padding: 16px;

  ion-toolbar {
    ion-button {
      font-family: 'bold';
      border-radius: 8px;
      --border-radius: 8px;

    }
  }
}

capacitor-google-map {
  display: inline-block;
  width: 100%;
  height: 100%;
}
