<ion-header mode="md">
  <ion-toolbar>
    <ion-button slot="start" fill="clear" (click)="presentPopover($event)">
      <img src="../../assets/images/menue.png">
    </ion-button>

    <ion-avatar slot="end" (click)="profile()">
      <img [lazyLoad]="userImage ||'../../../assets/images/userplaceholder.png'"
        [errorImage]="'../../../assets/images/userplaceholder.png'" alt="">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">

    <h1 class="animate__animated animate__fadeInBottomLeft fast">
      أهلا بك <br>
      في تطبيق عقارك
    </h1>

    <div class="search animate__animated animate__fadeInBottomLeft fast">
      <img slot="start" src="../../assets/images/search.png">
      <ion-input [(ngModel)]="searchQuery" (ionChange)="onSearchChange($event)" type="search" name="search" id=""
        placeholder="المدينة , الحي أو الشارع"></ion-input>
      <img slot="end" class="filter" src="../../assets/images/filter_.png" alt="" (click)="filter()">
    </div>

    <div class="categories">
      <div class="row">
        <div *ngFor="let type of buildTypes" class="category animate__animated animate__fadeInBottomLeft duration"
          (click)="detailsType(type)">
          <div class="overflow"></div>
          <img [src]="type?.image" alt="">
          <div class="content">
            <h4>{{type?.name}}</h4>
            <!-- <p>546 شقة</p> -->
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="item_head animate__animated animate__fadeInBottomLeft fast">
      <h2>عقارات مميزة</h2>
      <div class="end_head">
        <p> المزيد</p>
        <img src="../../assets/images/arrow_more.svg" alt="">
      </div>
    </div> -->
  </div>

  <!-- <swiper dir="rtl" [slidesPerView]="4/3" [spaceBetween]="20" [freeMode]="true" [breakpoints]="{
      '640': {
        slidesPerView: 2.5,
        spaceBetween: 20
      },
      '768': {
        slidesPerView: 3.2,
        spaceBetween: 40
      },
      '1024': {
        slidesPerView: 4.2,
        spaceBetween: 50
      }
    }" class="mySwiper homeSlider animate__animated animate__fadeInLeft duration">
    <ng-template swiperSlide class="animate__animated animate__fadeInLeft duration">
      <div class="head_box" (click)="navigate('details')">
        <span>مميز</span>
        <img src="../../assets/images/img_card.png" alt="">
      </div>
      <div class="body_content">
        <div class="body_head">
          <p>
            <ion-icon slot="start" name="location"></ion-icon>
            بغداد/شارع التحرير
          </p>
          <p>يناير 2021</p>
        </div>
        <p class="body_title">
          شقة مفروشة بحي بغداد
        </p>
        <div class="price">
          1315 د.ع
        </div>
        <div class="footer_content">
          <p>
            <img src="../../assets/images/size.svg" alt="">
            210م2
          </p>
          <p>
            <img src="../../assets/images/bed.svg" alt="">
            3
          </p>
          <p>
            <img src="../../assets/images/bath_room.svg" alt="">
            2
          </p>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide class="animate__animated animate__fadeInLeft duration">
      <div class="head_box">
        <span>مميز</span>
        <img src="../../assets/images/img_card.png" alt="">
      </div>
      <div class="body_content">
        <div class="body_head">
          <p>
            <ion-icon slot="start" name="location"></ion-icon>
            بغداد/شارع التحرير
          </p>
          <p>يناير 2021</p>
        </div>
        <p class="body_title">
          شقة مفروشة بحي بغداد
        </p>
        <div class="price">
          1315 د.ع
        </div>
        <div class="footer_content">
          <p>
            <img src="../../assets/images/size.svg" alt="">
            210م2
          </p>
          <p>
            <img src="../../assets/images/bed.svg" alt="">
            3
          </p>
          <p>
            <img src="../../assets/images/bath_room.svg" alt="">
            2
          </p>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide class="animate__animated animate__fadeInLeft duration">
      <div class="head_box">
        <span>مميز</span>
        <img src="../../assets/images/img_card.png" alt="">
      </div>
      <div class="body_content">
        <div class="body_head">
          <p>
            <ion-icon slot="start" name="location"></ion-icon>
            بغداد/شارع التحرير
          </p>
          <p>يناير 2021</p>
        </div>
        <p class="body_title">
          شقة مفروشة بحي بغداد
        </p>
        <div class="price">
          1315 د.ع
        </div>
        <div class="footer_content">
          <p>
            <img src="../../assets/images/size.svg" alt="">
            210م2
          </p>
          <p>
            <img src="../../assets/images/bed.svg" alt="">
            3
          </p>
          <p>
            <img src="../../assets/images/bath_room.svg" alt="">
            2
          </p>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide class="animate__animated animate__fadeInLeft duration">
      <div class="head_box">
        <span>مميز</span>
        <img src="../../assets/images/img_card.png" alt="">
      </div>
      <div class="body_content">
        <div class="body_head">
          <p>
            <ion-icon slot="start" name="location"></ion-icon>
            بغداد/شارع التحرير
          </p>
          <p>يناير 2021</p>
        </div>
        <p class="body_title">
          شقة مفروشة بحي بغداد
        </p>
        <div class="price">
          1315 د.ع
        </div>
        <div class="footer_content">
          <p>
            <img src="../../assets/images/size.svg" alt="">
            210م2
          </p>
          <p>
            <img src="../../assets/images/bed.svg" alt="">
            3
          </p>
          <p>
            <img src="../../assets/images/bath_room.svg" alt="">
            2
          </p>
        </div>
      </div>
    </ng-template>
  </swiper> -->
  <div class="container">
    <div class="item_head animate__animated animate__fadeInUp fast">
      <h2>مضاف حديثا</h2>
    </div>


    <div *ngFor="let build of builds;let i = index;trackBy:trackFu"
      class="add_box_item animate__animated animate__fadeInUp duration" (click)="detailsBuild(build)">
      <div class="head_box">
        <span>{{build?.adType?.name}}</span>
        <img [src]="build?.images[0] ?? '../../../assets/images/buildplaceholder.png'" alt="">
      </div>
      <div class="body_content">
        <div class="body_head">
          <p>
            <ion-icon slot="start" name="location"></ion-icon>
            {{build?.address}}
          </p>
          <p>{{build?.createdAt| date}}</p>
        </div>
        <div class="center_content">
          <p class="body_title">
            {{build?.title}}
          </p>
          <div class="price">
            {{build?.price |number}} د.ع
          </div>
        </div>
        <div class="footer_content">
          <p>
            <img src="../../assets/images/size.svg" alt="">
            {{build?.area}}م
          </p>
          <p *ngIf="build?.bedsNumber">
            <img src="../../assets/images/bed.svg" alt="">
            {{build?.bedsNumber}}
          </p>
          <p>
            <img src="../../assets/images/bath_room.svg" alt="">
            {{build?.bathroomNumber}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- error View && Loading  -->
  <div *ngIf="loading" class="loading">
    <ion-spinner></ion-spinner>
  </div>

  <div *ngIf="emptyView" class="error-view">
    <div class="content">
      <ion-icon name="happy-outline"></ion-icon>
      <ion-text color="medium">
        <p>لا يوجد اعلانات حاليا</p>
      </ion-text>
    </div>
  </div>

  <div *ngIf="errorView" class="error-view">
    <div class="content">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <ion-text color="medium">
        <p>خطأ بالشبكة يرجي المحاولة لاحقاً</p>
      </ion-text>
    </div>
  </div>

  <ion-popover #popover [dismissOnSelect]="true" [isOpen]="isOpen" (didDismiss)="isOpen = false" mode="ios">
    <ng-template>
      <ion-content class="popOver">
        <ion-list>
          <ion-item button (click)="logOut()">
            <ion-label color="danger">تسجيل خروج</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button mode="ios" (click)="addBuild()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-infinite-scroll threshold="25%" [disabled]="disableInfinity" position="bottom" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <ion-modal #modal mode="ios" trigger="open-modal" [initialBreakpoint]="0.35"
    [breakpoints]="[0, 0.25,0.35, 0.5, 0.75]">
    <ng-template>
      <ion-content>
        <div class="headerModalFilter">
          <h1 class="title_category animate__animated animate__fadeInUp duration">التصنيف</h1>
          <ion-button (click)="clearFilter()" fill="clear" shape="round">
            الغاء
          </ion-button>
        </div>
        <div class="filter_body">
          <p>المحافظة</p>
          <div class="item_box">
            <ion-select mode="ios" placeholder="الشقق" [(ngModel)]="city">
              <ion-select-option *ngFor="let city of citys" [value]="city._id">{{city.name}}</ion-select-option>
            </ion-select>
          </div>

          <p>جنس السند</p>
          <div class="item_box">
            <ion-select mode="ios" placeholder="الشقق" [(ngModel)]="bondType">
              <ion-select-option *ngFor="let type of bondTypes" [value]="type._id">{{type.name}}</ion-select-option>
            </ion-select>
          </div>


          <p>جنس الاعلان</p>
          <div class="item_box">
            <ion-select mode="ios" placeholder="الشقق" [(ngModel)]="adGender">
              <ion-select-option *ngFor="let type of adGenders" [value]="type._id">{{type.name}}</ion-select-option>
            </ion-select>
          </div>

          <p>نوع الاعلان</p>
          <div class="item_box">
            <ion-select mode="ios" placeholder="الشقق" [(ngModel)]="adType">
              <ion-select-option *ngFor="let type of adTypes" [value]="type._id">{{type.name}}</ion-select-option>
            </ion-select>
          </div>

          <ion-button expand="block" fill="solid" (click)="getBuilds();filterModal.dismiss()">
            تصنيف
          </ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
